/* Définition des polices */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* Éléments principaux de la page */

body {
    font-family: "Raleway", "Sans serif";
    max-width: 1300px;
    margin: auto;
    margin-top: 0;
}

:focus {
    outline: none;
}

a {
    color: black;
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    min-height: 100%;
    width: 100%;
    align-items: center;
    margin-top: -0.5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}

nav li {
    margin: 0;
    align-content: center;
}

#li_inscription {
    padding-right: 0;
}
nav a {
    color: black;
    width: 100%;
    padding: 2rem;
}

.menu a:hover,
.menu a:focus {
    color: #0065fc;
    border-top: 3px solid #0065fc;
}

#inscription {
    color: #0065fc;
    font-weight: bold;
}

/* Sous titre */

h2 {
    margin-bottom: -0.5rem;
}

/* Barre de recherche */

#map_marker {
    padding: 1.4rem;
    background-color: #f2f2f2;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}

#lieu {
    padding: 1.3rem;
    margin-left: -0.3rem;
    border: 1px solid #f2f2f2;
    font-weight: bold;
    font-size: 1rem;
}

#submit {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: #0065fc;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid #0065fc;
    padding: 1.3rem;
    margin-left: -0.3rem;
    cursor: pointer;
}

/* Filtres */

#filtres {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

#filtres p {
    margin-right: 2rem;
    margin-bottom: 1rem;
}

#eco,
#famille,
#romance,
#animaux {
    display: flex;
    align-items: center;
    border: 2.5px solid #d9d9d9;
    border-radius: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

#eco i,
#famille i,
#romance i,
#animaux i {
    display: flex;
    height: 3rem;
    width: 3rem;
    margin-left: -2px;
    background-color: #deebff;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    color: #0065fc;
}

#eco span,
#famille span,
#romance span,
#animaux span {
    margin: 0 1rem;
}

/* Barre d'info */

#info {
    display: flex;
    align-items: center;
}

#info_icone {
    width: 1.6rem;
    min-height: 1.6rem;
    color: #0065fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-right: 0.7rem;
}

/* Section hébergements */

#hebergements {
    display: flex;
    justify-content: space-between;
}

#heberge_globaux {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    width: 65%;
    height: 40rem;
    border-radius: 1rem;
    justify-content: space-around;
    padding: 1rem 1rem 0 1rem;
    margin-top: 1rem;
}

#heberge_globaux > *{
    flex: 0 1 25ch;
}

#heberge_globaux a {
    height: 12.5rem;
}

#heberge_globaux h2, #afficher {
    height: 2rem;
    max-height: 2rem;
    flex: 100%;
    font-weight: bold;
    margin-left: 1rem;
}

.hotel {
    max-width: 25ch;
    height: 12.5rem;
    max-height: 12.5rem;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}

.hotel figure {
    margin: 0.4rem;
}

.hotel img {
    object-fit: cover;
    height: 7rem;
    width: 100%;
    max-width: 30rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-top: 0.3rem;
}

figcaption {
    font-weight: bold;
    margin-left: 0.4rem;
}

.hotel p {
    margin-top: 0rem;
    margin-left: 0.7rem;
    margin-bottom: 0.4rem;
}

.hotel span {
    margin-left: 0.7rem;
    margin-bottom: 0.4rem;
}

/* Les plus populaires */

#populaires {
    width: 28%;
    background-color: #f2f2f2;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#titre_pop {
    display: flex;
    justify-content: space-between;
}

#titre_pop h2 {
    align-self: center;
    justify-self: center;
    margin-top: -0.5rem;
}

#titre_pop i {
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
}

.hotel_pop {
    display: flex;
    height: 9rem;
    width: 100%;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}

.hotel_pop figure {
    display: flex;
    margin: 0.4rem;
}

.hotel_pop img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 70%;
    max-width: 12ch;
    min-height: 100%;
    object-fit: cover;
}

.hotel_pop .stars {

}

/* TODO
div pour l'image et div pour le content pour hebergemetns populaires*/

/* Icônes étoiles */

.fa-star {
    color: #0065fc;
}

#gris1, #gris2, #gris3, #gris4, #gris5, #gris6, #gris7 {
    color: #d9d9d9;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
}

footer ul {
    list-style-type: none;
    padding-left: 0%;
}
